rules_version = '2';
service cloud.firestore {

  match /databases/{database}/documents {


    function isModerator () {
      return request.auth.token.isModerator == true;
    }

    function documentFieldsCheckout (requiredFields, optionalFields) {
      let allFields = requiredFields.concat(optionalFields);
      
      return request.resource.data.keys().hasAll(requiredFields) &&
        request.resource.data.keys().hasOnly(allFields);
    }

    function editOnlyChangesFields(allowedFields) {
      let affectedKeys = request.resource.data.diff(resource.data).affectedKeys();

      let unused = debug('** Affected keys debug in editOnlyChangesFields **');

      return debug(affectedKeys.hasOnly(allowedFields));
      // return debug(request.resource.data.keys().hasOnly(allowedFields)); 
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
   match /{document=**} {
      allow read, write: if false;
    }
}
