#Dodex
.kotlin
.env_list
spa_test
copyjs.sh
*.log*
dist*
.cache
deploy
node_modules
src/spa-react/devl/allure-report/*
src/spa-react/devl/allure-results/*
dodex-handicap/src/main/resources/META-INF/resources/dist*
dodex-handicap/src/main/resources/META-INF/resources/spa/
dodex-handicap/src/main/resources/META-INF/resources/spa/
dodex-handicap/src/main/resources/META-INF/resources/handicap.html
dodex-handicap/src/main/resources/META-INF/resources/handicap/*
dodex-handicap/src/main/resources/META-INF/resources/jsoneditor-icons-STGDAB4I.svg
allure-report
allure-results
# Eclipse
.quarkus
.project
.classpath
.settings/
bin/
src/main/resources/static/node_modules
*.db

# IntelliJ
.idea
*.ipr
*.iml
*.iws

# NetBeans
nb-configuration.xml

# Visual Studio Code
.vscode

# OSX
.DS_Store

# Vim
*.swp
*.swo

# patch
*.orig
*.rej

# Gradle
.gradle/
build/
kube/*.jar
