#Dodex
copyjs.sh
*.log*
dist*
.cache
deploy
node_modules
src/spa-react/devl/allure-report/*
src/spa-react/devl/allure-results/*
src/main/resources/static/dist*
src/main/resources/META-INF/resources/handicap.html
src/main/resources/META-INF/resources/handicap/*
src/main/resources/META-INF/resources/jsoneditor-icons-STGDAB4I.svg
# Eclipse
.project
.classpath
.settings/
bin/
src/main/resources/static/node_modules
*.db

# IntelliJ
.idea
*.ipr
*.iml
*.iws

# NetBeans
nb-configuration.xml

# Visual Studio Code
.vscode

# OSX
.DS_Store

# Vim
*.swp
*.swo

# patch
*.orig
*.rej

# Gradle
.gradle/
build/
